*{
    margin:0;
    box-sizing: border-box;
}

#menu{
    position: fixed;
    z-index: 10;
    width: 100%;
    
    background-color: white;
}

#menu > ul {
    text-align: right;
}

#menu > ul > li {
    display: inline-block;
    padding: 20px 40px;
    
}

#menu > ul > li> a{
    text-decoration: none;
    color: #000;
}

/*sekacja about*/




#about{
    width: 100%;
    height: 580px;
    background-color: #000;
    position: relative;
    
    
}

#about #opis{
    width:35%;
    text-align: center;
    color: white;
    position: absolute;
    left: 0;
}

#about h1{
    font-size: 2.5em;
    margin-top: 150px;
}

#about p{
    padding: 50px;
    line-height: 30px;
}

#about #foto img{
    width: 65%;
    height: 550px;
    background-position: center;
    background-size: cover;
    position: absolute;
    right: 0;
    top:30px;
}

footer{
    height: 58px;
    width: 100%;
    background-color: #fff;
}

footer div.social-icons{
    margin-right: 0;
    margin-left: 80%;
    margin-top: 2%;
}
footer .social-icons a{
    display: inline-block;

    color: #000;
    text-decoration: none;
    height: 30px;
    width: 30px;
  
    margin-left:40px;
    font-size: 28px;
    right: 0%;
}
















